<app-navbar></app-navbar>
<div class="container py-4">

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid">
      <h1 class="display-7 fw-normal">Working Women Hostel</h1>
      <p class="col-md-8 fs-4">Accommodation for working women  <br>Safe, Clean and Free.</p>
      <button routerLink="/hostel/hostel-booking" class="btn btn-primary btn-lg" type="button">Book Hostels</button>
    </div>
  
  </div>
  <div class="row align-items-md-stretch">
    <div class="col-md-7">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>About</h2>
        <p>The objective of the scheme is to promote availability of safe and conveniently located accommodation for working women <br> With day care facility for their children, wherever possible, in urban, semi urban, or even rural areas where employment opportunity for women exist.</p>
     
      </div>
    </div>
    <div class="col-md-5">
      <div class="h-100 p-5 border rounded-3">
        <div class="container">
          
        </div>  
       <app-hostel-location></app-hostel-location>
      </div>
    </div>
  </div>
</div>
