<app-admin-navbar></app-admin-navbar>


<table class="table table-striped table-bordered">
    <thead>
      
        <th>Name</th>
        <th>Email</th>
        <th>Director</th>
        <th>Address</th>
        <th>Type</th>
        <th>Update</th>
       
    </thead>
    <tbody>
        <tr *ngFor="let x of ngo">
          
            <td>{{x.name}}</td>
            <td>{{x.email}}</td>
            <td>{{x.director}}</td>
            <td>{{x.addressLine}}</td>
            <td>{{x.type}}</td>
            <td><a href="">Update</a></td>

        </tr>
    </tbody>
</table>