
<nav class="navbar navbar-light bg-light">
  <div class="mx-auto">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/NPIC.png" alt="" height="30" class="d-inline-block align-text-top">
      Support to Training and Employment Programme
    </a>
  </div>
</nav>
 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2  mb-lg-0">
  
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/step/about" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/step/guidelines" routerLinkActive="active">Guidelines</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/step/training-sectors" routerLinkActive="active">Training Sectors</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/step/ngo" routerLinkActive="active">NGO</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/step/faq" routerLinkActive="active">FAQS</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-danger" routerLink="/" routerLinkActive="active">Logout</a>
        </li>  
             
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <h3 style="font-family:Baufra" > NGO Details :  </h3>
    <br>
  <table>
      <thead>
        <tr>
            <th>S. No.</th>
          <th>Name</th>
          <th>Location</th>
          <th>Sectors</th>
  
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>1.</td>
          <td>Navyug Foundation</td>
          <td>Purnia, Bihar</td>
          <td><ul>
              <li>Education</li>
               <li>Children</li>
               <li>Community Development</li>
               <li>Sanitation</li>
               <li>Emergency Relief</li>
               <li>Health</li>
          </ul></td>
        </tr>
        <tr>
            <td>2.</td>
          <td>Anan Foundation</td>
          <td>Malda, West Bengal</td>
          <td><ul>
              <li>Science Development</li>
               <li>Research and Development</li>
               <li>Human Rights</li>
               <li>Sanitation</li>
               <li>Emergency Relief</li>
               <li>Health</li>
          </ul></td>
        </tr>
        <tr>
            <td>3.</td>
          <td>World Vision India</td>
          <td>Chennai, Tamil Nadu</td>
          <td><ul>
              <li>Education</li>
               <li>Human Rights</li>
               <li>Sanitation</li>
               <li>Emergency Relief</li>
               <li>Health</li>
          </ul></td>
        </tr>
        <tr>
            <td>4.</td>
          <td>Sam and Jane Foundation</td>
          <td>Guntur, Andhra Pradesh</td>
          <td><ul>
              <li>Women Empowerment</li>
               <li>Environment</li>
               <li>Emergency Relief</li>
               <li>Healthcare</li>
          </ul></td>
        </tr>
        <tr>
            <td>5.</td>
          <td>Pragti Education And Welfare Society</td>
          <td>Delhi</td>
          <td><ul>
              <li>Social welfare</li>
               <li>Children</li>
               <li>Human Rights</li>
               <li>Sanitation</li>
               <li>Development</li>
          </ul></td>
        </tr>
        <tr>
            <td>6.</td>
          <td>Life Incredible Welfare Society</td>
          <td>Jabalpur, Madhya Pradesh</td>
          <td><ul>
              <li>Humanitarian Aids</li>
               <li>Urban Development</li>
               <li>Community Development</li>
               <li>Sanitation</li>
               <li>Rural and Community Development</li>
               <li>Healthcare</li>
          </ul></td>
        </tr>
  
      </tbody>
    </table>
</div>

