<app-navbar></app-navbar>


<table>
    <thead>
      <tr>
          <th>S. No.</th>
        <th>Name</th>
        <th>Location</th>
        <th>Sectors</th>

      </tr>
    </thead>
    <tbody>
      <tr>
          <td>1.</td>
        <td>Navyug Foundation</td>
        <td>Purnia, Bihar</td>
        <td><ul>
            <li>Education</li>
             <li>Children</li>
             <li>Community Development</li>
             <li>Sanitation</li>
             <li>Emergency Relief</li>
             <li>Health</li>
        </ul></td>
      </tr>
      <tr>
          <td>2.</td>
        <td>Anan Foundation</td>
        <td>Malda, West Bengal</td>
        <td><ul>
            <li>Science Development</li>
             <li>Research and Development</li>
             <li>Human Rights</li>
             <li>Sanitation</li>
             <li>Emergency Relief</li>
             <li>Health</li>
        </ul></td>
      </tr>
      <tr>
          <td>3.</td>
        <td>World Vision India</td>
        <td>Chennai, Tamil Nadu</td>
        <td><ul>
            <li>Education</li>
             <li>Human Rights</li>
             <li>Sanitation</li>
             <li>Emergency Relief</li>
             <li>Health</li>
        </ul></td>
      </tr>
      <tr>
          <td>4.</td>
        <td>Sam and Jane Foundation</td>
        <td>Guntur, Andhra Pradesh</td>
        <td><ul>
            <li>Women Empowerment</li>
             <li>Environment</li>
             <li>Emergency Relief</li>
             <li>Healthcare</li>
        </ul></td>
      </tr>
      <tr>
          <td>5.</td>
        <td>Pragti Education And Welfare Society</td>
        <td>Delhi</td>
        <td><ul>
            <li>Social welfare</li>
             <li>Children</li>
             <li>Human Rights</li>
             <li>Sanitation</li>
             <li>Development</li>
        </ul></td>
      </tr>
      <tr>
          <td>6.</td>
        <td>Life Incredible Welfare Society</td>
        <td>Jabalpur, Madhya Pradesh</td>
        <td><ul>
            <li>Humanitarian Aids</li>
             <li>Urban Development</li>
             <li>Community Development</li>
             <li>Sanitation</li>
             <li>Rural and Community Development</li>
             <li>Healthcare</li>
        </ul></td>
      </tr>

    </tbody>
  </table>

