<app-step-navbar></app-step-navbar>
<div class="container my-4">

    <h5> About Step</h5>
    <p class="p-3 text-justify">
        Support to training and employment programme for women Ministry of Women & Child Development .
        STEP Scheme aims to provide skills that give employability to women and to provide competencies
        and skill that enable women to become self-employed/entrepreneurs. The Scheme is intended to
        benefit women who are in the age group of 16 years and above across the country.
    </p>
    <h5>Scheme Benefits and Highlights</h5>
    <h6> The scheme has 2 fold objectives viz.</h6>
    <p class="p-3 text-justify">
        <li> To provide skills that give employability to women.</li>
        <li>To provide competencies and skills that enable women to become self-employed/entrepreneurs.</li>
    </p>
    <h5>Eligibility</h5>
    <h6>Scheme Target Group </h6>
    <p class="p-3 text-justify">
        The scheme is intended to benefit women who are in the age group of 16 years and above.
    </p>
    <h6>ELIGIBLE ORGANIZATIONS/ PROJECT IMPLEMENTING AGENCIES (PIAs)</h6>
    <p class="p-3 text-justify">
        Grants-in-aid under the STEP programme may be given to an institution having a distinct legal entity as under:
    </p>
    <p class="p-3 text-justify">
        <li> Institutions or organizations set up as Autonomous Organization under a specific statute or as a Society
            registered under the Societies Registration Act, 1860 or Indian Trusts Act, 1882 (Not for profit) or other
            statutes.</li>
        <li> Voluntary Organizations or Non-Government Organizations registered under the Societies Registration Act,
            Indian Trust Act carrying out activities which promote the objectives of the STEP programme, with adequate
            financial and other resources, credibility and experience of the type of activities to be undertaken.</li>
        <li> Co-operative Societies.</li>
    </p>
</div>