#registration-step {
    width: 100%;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
}

h5{
    
  color: black;
  text-align: left;
  /* box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5); */
}
/* .register {
    background: #ffffffbc;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
} */

ul li {
    list-style-type: square;
    line-height: 1.6em;
    text-align: justify;
}
  h3{
    text-align: center;
    color: rgb(9, 9, 9);
    
    
  }
  body{
    background: linear-gradient(rgb(156, 203, 234), 10%,white);
   
  }