a:link, a:visited {
    color: rgb(175, 166, 166);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color:rgb(224, 127, 53);
    color: white;
  }

  h2{
    text-align: center;
    color: rgb(175, 166, 166);
    background-color:rgb(38, 38, 38);
  }

  h4{
    text-align: center;
    color: rgb(175, 166, 166);
    background-color:rgb(38, 38, 38);
  }

  body{
    background-image: linear-gradient(rgb(251, 251, 251), rgb(243, 241, 241), rgb(234, 231, 231));
   
  }
