<app-ngo-navbar></app-ngo-navbar>
<body>
    <h3 class="h3-responsive text-center p-3"  style="font-family:Baufra">List of Organizations registered with us : </h3>
    <br>

    <table class="table caption-top" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">NAME</th>
            <th scope="col">DIRECTOR</th>
            <th scope="col">ADDRESS</th>
            <th scope="col">TYPE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of ngo">
            <td>{{x.name}}</td>
            <td>{{x.director}}</td>
            <td>{{x.addressLine}}</td>
            <td>{{x.type}}</td>
          </tr>
          </tbody>

    <!-- <table class="table table-striped table-hover table table-sm table caption-top">
        <thead>
          
            <th>NAME</th>
            <th>DIRECTOR</th>
            <th>ADDRESS</th>
            <th>TYPE</th>
           
        </thead>
        <tbody>
            <tr *ngFor="let x of ngo">
              
                <td>{{x.name}}</td>
                <td>{{x.director}}</td>
                <td>{{x.addressLine}}</td>
                <td>{{x.type}}</td>
    
            </tr>
        </tbody>
    </table> -->
