/* body{
    background-image: linear-gradient(rgb(251, 251, 251), rgb(243, 241, 241), rgb(234, 231, 231));
   
  } */
  h3{
    text-align: center;
    color: rgb(9, 9, 9);
    
    
  }
  body{
    background: linear-gradient(rgb(156, 203, 234), 10%,white);
   
  }
  table {
    width: 50%;
    counter-reset: row-num;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  table, th, td {    
    
    margin-left: auto;  
    margin-right: auto;   
    width: 500px;  
    text-align: center; 
  }