
<app-navbar></app-navbar>
<div class="container col-md-6 py-4 bg-light my-3 rounded-3">
    <div class="container">
        <div class="display-6 my-3">Select hostel</div>
        <div class="d-flex">
          <table class="table fs-5">
              <thead>
                <tr>
                  <th scope="col">Hostel name</th>
                  <th scope="col">Location</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Vacancy</th>
                  <th scope="col">Book</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>xyz</td>
                  <td>Mumbai</td>
                  <td>Dinesh</td>
                  <td>20</td>
                  <td><button class="btn btn-primary btn-sm">Book</button></td>
                </tr>
                <tr>
                  <td>abc</td>
                  <td>Bangalore</td>
                  <td>Anish</td>
                  <td>30</td>
                  <td><button class="btn btn-primary btn-sm">Book</button></td>
                </tr>
                <tr>
                  <td>hijk</td>
                  <td>Dehli</td>
                  <td>Ajay</td>
                  <td>0</td>
                  <td><button class="btn btn-primary btn-sm" disabled>Book</button></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>

