
<app-navbar></app-navbar>
<div class="container col-md-6 py-4 bg-light my-3 rounded-3">
    <div class="container">
        <div class="display-6 my-3">Select hostel</div>
        <div class="d-flex">
          <table class="table fs-5">
              <thead>
                <tr>
                  <th scope="col">Hostel name</th>
                  <th scope="col">Location</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Vacancy</th>
                  <th scope="col">Book</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let x of users">
                  <td>{{x.name | titlecase}}</td>
                  <td>{{x.location | titlecase}}</td>
                  <td>{{x.owner | titlecase}}</td>
                  <td>{{x.vacancy}}</td>
                  <td><button (click)="vacancyDecrementer(x.id)" [disabled]="x.vacancy==0" class="btn btn-primary btn-sm">Book</button></td>
              </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>

