<app-step-navbar></app-step-navbar>


<div class="container">
    <h3 style="font-family:Baufra"> Available Courses : - </h3>
    <br>
    <table >
        <thead>
            <tr>
                <th>S. No.</th>
                <th>Name</th>
                <th>Course</th>
                <th>Criteria</th>
                <th>Duration(in days)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Life Incredible Welfare Society</td>
                <td>Handcrafting</td>
                <td><ul>
                    <li>Age above 13.</li>
                     <li>Only Female candidates.</li>
                </ul></td>
                <td>15</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Sam and Jane Foundation</td>
                <td>Stitching</td>
                <td><ul>
                    <li>Age above 18.</li>
                     <li>Only Female candidates.</li>
                </ul></td>
                <td>20</td>
            </tr>  
            <tr>
                <td>3</td>
                <td>Anan Foundation</td>
                <td>Agriculture</td>
                <td> <ul>
                    <li>Age above 18.</li>
                     <li>Only Male.</li>
                     </ul></td>
                <td>15</td>
            </tr>                  
        
        <tr>
            <td>4</td>
            <td>Life Incredible Welfare Society</td>
            <td>Pottery</td>
            <td><ul>
                <li>Age above 18.</li>
            </ul></td>
            <td>20</td>
        </tr>
    </tbody>
    </table>
</div>
