<div class="container">
    <div class="d-flex">
        <img src="/assets/img/NPIC.png" alt="" class="img-thumbnail p-4 border-0 d-sm-none d-md-block">
        <h2 class="my-auto">Ministry of Womens & Child Development</h2>
    </div>
    <div class="container mt-5">
        <h4>Schemes for Women Empowerment</h4>
        <div class="row">
            <!-- Step -->
            <div class="col-4 p-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">STEP</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                        <p class="card-text">STEP Scheme aims to provide skills that give employability to women and to provide competencies and skill that enable women to become self-employed/entrepreneurs. The Scheme is intended to benefit women who are in the age group of 16 years and above across the country.</p>
                        <a href="#" routerLink="/step" routerLinkActive="active"  class="card-link">See Details</a>
                        <a href="#" class="card-link">Register</a>
                    </div>
                </div>
            </div>
            <!-- Womens Hostel -->
            <div class="col-4 p-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Working Womens Hostel</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                        <p class="card-text">The objective of the scheme is to promote availability of safe and conveniently located accommodation for working women, with day care facility for their children, wherever possible, in urban, semi urban, or even rural areas where employment opportunity for women exist.</p>
                        <a href="#" routerLink="/hostel" routerLinkActive="active"  class="card-link">See Details</a>
                            <a href="#" class="card-link">Register</a>
                    </div>
                </div>
            </div>

            <!-- Sukanya Samriddhi yojana -->
            <div class="col-4 p-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Sukanya Smariddhi Yojana</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                        <p class="card-text">Sukanya Samriddhi Account is a Government of India backed saving scheme targeted at the parents of girl children. The scheme encourages parents to build a fund for the future education of their female child.</p>
                        <a href="#" routerLink="/sukanya" routerLinkActive="active"  class="card-link">See Details</a>
                            <a href="#" class="card-link">Register</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>