<app-navbar></app-navbar>
<div class="container">

  <div class="my-4">

    <h4 class="my-3">Women Related Legislation</h4>
      <ul class="list-group">
          <li class="list-group-item">Compensation Scheme for Women Victims/Survivors of Sexual Assault/other Crimes - 2018</li>
          <li class="list-group-item">Letter of Selection of the empanelled organisation to conduct capacity building exercises on Sexual Harassment of Women at Workplace (Prevention, Prohibition and Redressal) Act, 2013</li>
          <li class="list-group-item">Recommended Panel of Institutions organisation for imparting training Programmes/workshops under Sexual Harassment of Women at Workshop (Prevention, Prohibition and Redressal) Act, 2013)</li>
          <li class="list-group-item">Training Module for Two Day Workshop on Sexual Harassment of Women at Workplace (Prevention, Prohibition And Redressal) Act, 2013</li>
          <li class="list-group-item">Recommended Panel of Institutes or Organizations under sexual harassment of Women at workplace Prevention,Prohibition, and Redressal Act 2013</li>
          <li class="list-group-item">The sexual harassment of women at workplace Prevention,Prohibition, and Redressal Act 2013</li>
          <li class="list-group-item">The Sexual Harassment of Women at Workplace, (Prevention,Prohibition, and Redressal Act 2013, Rules</li>
          <li class="list-group-item">Handbook on Sexual Harassment of Women at Workplace</li>
          <li class="list-group-item">National Commission for Women Act</li>
          <li class="list-group-item">The Commission of Sati Prevention Act and rules	Details</li>
          <li class="list-group-item">Indecent Representation of Women	Details</li>
          <li class="list-group-item">Dowry Prohibition Rules	Details</li>
          <li class="list-group-item">Dowry Prohibition Act, 1961	Details</li>
          <li class="list-group-item">Protection of Women from Domestic Violence Act, 2005</li>
          <li class="list-group-item">The Protection of Women from Domestic Violence Act, 2005 Rules	</li>
        </ul>
  </div>
</div>